@import url("https://fonts.googleapis.com/css?family=Sigmar+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Sigmar One", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.6rem;
}
  
  
.content select {
  padding: 0 1rem;
  --moz--appearance: none;
  --webkit--appearance: none;
  appearance: none;
  border: 1;   
  border-radius: 3px;
  outline: none;
}
  
.content select option {
  font-size: 1.1rem;
  padding:  1rem;
}
  
label.title {
  font-size: 2.9rem;
  color: var(--main-color);
}
.screenArea {
  background: #ffffff;
  height: 100px;
  width: 100%;
  margin: 0.8rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}
  
.screenArea span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: rgb(0, 0, 0);
}
  
.theatre {
  margin-top: 0.4rem;
  perspective: 200px;
}
  
div.row {
  display: flex;
  position: relative;
}
  
div.theatreRows {
  margin-top: 2rem;
}
  
.Bioskop-container {
  margin: 10px ;
  font-size: 20px;
}

.Bioskop-container select {
  background-color: #fff;

  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 100px;
  margin-bottom: 10px;
}

.baris{
  background-color: #000000;
  height: 30px;
  width: 35px;
  margin: 3px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 20px;
}

.seat-header {
  background-color: #525253;
  height: 30px;
  width: 35px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat-header.selected {
  background-color: rgb(0, 255, 0);
}

.seat-header.sold {
  background-color: rgb(4, 0, 255);
  cursor: pointer;
}

.seat {
  background-color: #525253;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: rgb(0, 255, 0);
}

.seat.sold {
  background-color: rgb(4, 0, 255);
  cursor: pointer;
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 20px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.showcase li small {
  margin-left: 2px;
}

.button-area {
  display: flex;
  flex-direction: row;

}

.button-area > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px; 
}

.pesan-btn {
  background-color: rgb(8, 0, 255);
  color: white;
  font-size: medium;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  padding-top: 3px;
  width:90px;
  border: none;
  border-radius:5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reset-btn {
  background-color: rgb(79, 79, 79);
  color: white;
  font-size: medium;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  padding-top: 3px;
  width:90px;
  border: none;
  border-radius:5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

p.text {
  margin: 15px 0;
}

p.text span {
  color: rgb(158, 248, 158);
}
.pesan-btn:hover{
  background-color: rgb(1, 6, 91);
}
.reset-btn:hover{
  background-color: rgb(32, 32, 32);
}


